@model Shop.Models.ViewModels.OrderDetailsCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.ListCart.Count > 0)
    {
        <br />
        <input id="userId" asp-for="@Model.ListCart[0].UserId" hidden />

            <div class="container">
                <div class="card">
                    <div class="card-header bg-success text-white ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-cart-arrow-down" ></i>
                            Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class=" btn btn-outline-success btn-sm text-white" >Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body box-shadow">
                        <div class="row">
                            <div class="col-2"></div>
                                <div class="col-5 col-sm-3 col-lg-5 ">
                                    <h4>Name</h4>
                                </div>
                                <div class="col-4 col-sm-2 col-lg-4">
                                    <h4>Price/Count</h4>
                                </div>
                        </div>
                        <hr />

                        @foreach (var item in Model.ListCart)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.Product.Image" class="rounded" width="120" height="80" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h4><strong>@item.Product.Name</strong></h4>
                                    <h4><smaill>@item.Product.ShortDescription</smaill></h4>
                                    <h4><smaill>@item.Product.Weight</smaill></h4>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h5><strong>$@item.Product.Price<span class="text-muted"> x </span>@item.Count</strong></h5>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-primary" asp-action="Plus" asp-route-cartId="@item.Id">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-danger" asp-action="Minus" asp-route-cartId="@item.Id">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-cartId="@item.Id">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr />
                        }
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row">
                                    <div class="col-7" style="margin-top:2px;">
                                        <input asp-for="@Model.OrderHeader.CouponCode" id="txtCouponCode" class="form-control" placeholder="Write your coupon code here.." />
                                        <button type="submit" class="btn btn-sm form-control rounded" style="background-color:#00FF7F" id="btnCoupon" asp-action="AddCoupon">Apply</button>
                                        <button type="submit" class="btn btn-sm form-control btn btn-danger" style="display:none" id="btnRemoveCoupon" asp-action="RemoveCoupon">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 offset-md-1 col-lg-4 offset-lg-3 pr-5 pl-2">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <span class="text-dark">Total</span>
                                            <strong class="text-dark">$<span id="txtOrderTotal">@Model.OrderHeader.OrderTotal</span></strong>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                            <div class="p-1"></div>
                        <div class="card-footer">
                            <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                                <a asp-action="Summary" asp-area="Customer" asp-controller="Cart" class="btn btn-success form-control">Next Step</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    }
    else
    {
        <div class="box-shadow">No items added to the shopping cart..</div>
    }

</form>

@section Scripts{ 

    <script>
        $(function () {
            var coupon = document.getElementById("txtCouponCode").value;
            if (coupon.length > 0) {
                document.getElementById('btnCoupon').style.display = 'none';
                document.getElementById('btnRemoveCoupon').style.display = '';
            }
            else {
                document.getElementById('btnCoupon').style.display = '';
                document.getElementById('btnRemoveCoupon').style.display = 'none';
            }
        });
    </script>
}